<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Airport | Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <style>
  .border {
    display: inline-block;
    width: 1000px;
    height: 500px;
    margin: 180px;
  }
  </style>
</head>
<body>

<div class="container">
  <div class="text-center mx-auto" style="width:510px"><h3>Select the Option from the following. </h3></div><br><br>






<div class="mx-auto" style="width:510px">
  <div class="btn-group">
      <form>

          <a href="/live/" class="btn btn-danger"><input type="button" name="live" value="Live"></a>
          <a href="/schedule/" class="btn btn-success"><input type="button" name="schedule" value="Schedule"></a>
          <a href="/airport/" class="btn btn-primary"><input type="button" name="airport" value="Airport"></a>
          <a href="/login/logout/" class="btn btn-warning"><input type="button" name="logout" value="Logout"></a>
      </form>
</div>
</div>
</div>

</body>
</html>
