<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>The Airport | Search by ID</title>
    <h2>Enter Flight details to View Schedule.</h2>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <form>{% csrf_token %}

          <a href="/live/"><input type="button" name="live" value="Live"></a>
          <a href="/schedule/"><input type="button" name="schedule" value="Schedule"></a>
          <a href="/airport/"><input type="button" name="airport" value="Airport"></a>
          <a href="/login/logout/"><input type="button" name="logout" value="Logout"></a>
    </form>
    	<form action="city.html" method="Post">{% csrf_token %}
       *Source City: <input type="text" name="source" required><br><br><br>
       *Destination City: <input type="text" name="destination" required><br><br>
       <input type="submit" value="Submit">
   </form>

        {% if messages %}
			{{messages}}
		{% endif %}
    {% for var in q %}
            {{var.flightid.flightid}}<br>
                {{ var.source }} {{ var.departure }}<br>
                {{ var.destination }}  {{ var.arrival }} <br>
            {% endfor %}
    </body>
</html>
